<!-- {{group.parent_id}} -->
<div class="item {{if hasChildren "with-children" " "}}">
  {{#if hasChildren}}
    <span class='button' {{action "expandGroup"}}>
      {{if expanded ">" "V"}}
    </span>
  {{/if}}
  <span class='button' {{action "expandGroup"}}>
    {{group.name}}
  </span>
  {{#if hasChildren}}
    <div class="items has-children {{if expanded "hide" " "}}">
      {{#each children as |item|}}
        {{channel-item group=item groups=groups onUpdate=onUpdate}}
      {{/each}}
    </div>
  {{/if}}
</div>
